---
layout: "../layouts/MainLayout.astro";
import "/assets/css/style.css?url";
import "../../public/assets/css/plugins.css";
---

<h1 class="">Welcome to My Astro Project</h1>
<p>This is a manually created Astro project using pnpm in PowerShell.</p>
